footer {
    background: linear-gradient(0deg, rgba(123,166,248,1) 6%, rgba(49,109,244,1) 62%);
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    footer {
        margin-top: 100px;
    }
}

.icons {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

.icons li {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .icons {
        justify-content: center;
        padding-right: 20px
    }

    .icons li {
        margin: 3px;
    }
    
}

.vl {
    border-left: 2px solid #7ba6f8;
    border-right: 2px solid #7ba6f8;
    height: 200px;
}

#contact-us-btn {
    display: flex;
    justify-content: right;
    color: white;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    box-shadow:#7ba6f8;
}

#address {
    font-weight: bold;
    display: flex;
    text-align: left;
}

#logo {
    text-align: center;
    display: flex;
}

#help-desc-top {
    top: 100;
    padding-right: 50px;
    display: flex;
    justify-content: right;
    margin-bottom: 0px;
}

#help-desc-bottom {
    padding-right: 80px;
    display: flex;
    justify-content: right;
}

#help-heading {
    display: flex;
    justify-content: right;
}

#footer {
    display: flex;
    flex-direction: column;
}

#footer-container {
    display: flex;
    flex-direction: column;
}

#footer-container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#foot-container-top-left {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    padding-left: 30px;
}

#foot-container-top-middle {
    width: 33.3%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#foot-container-top-right {
    width: 33.3%;
    padding-right: 30px;
}

#footer-container-bottom {
    display: flex;
    flex-direction: column;
}