body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
  }

  /* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */

/* Custom color scheme */
  :root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --bg-color: #f8f9fa;
  --text-color: #333;
  }

  a {
  color: var(--primary-color);
  text-decoration: none;
  }

  a:hover {
  color: #0056b3;
  text-decoration: underline;
  }

/* Custom button styles
  .btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  }

  .btn:hover {
  background-color: #0056b3;
  } */



/* Custom image styles */
  .img-fluid {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  }

  #site-name {
    align-self: flex-start;
  }

  #test-detail {
    background-color: white;
  }


  .carousel-item, .carousel-indicators, .carousel-images, .container {
    height: 60vh;
  }

  .carousel-item  > img {
    width: 100%;

  }



  @media screen and (max-width: 769px) {
    .carousel-item, .carousel-indicators, .carousel-images, .container {
      height: 350px;
    }

    #junk {
      position: sticky;
      bottom: 0;
      width: 100%;
    }
  }

  .carousel-indicators {
    top: 10px;
}

#test-name {
font-weight: bolder;
}

#test-alt-name {
color: mediumblue;
}



.navbar-nav {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding: 0;
background-color: royalblue;
border-radius: 8px;
}

.navbar-nav .nav-item {
flex: 1;
text-align: center;
padding: 0;
}


.navbar-nav .nav-item a.nav-link {
font-weight: bold;
color: white;
padding: 10px 20px;
text-decoration: none;
transition: background-color 0.3s ease;
display: block;
}

.navbar-nav .nav-item a.nav-link:hover {
background-color: rgb(27, 87, 165);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
.navbar-nav .nav-item a.nav-link {
    padding: 5px 10px;
    font-size: 12px;
}
}
/*
.navbar-nav {
display: flex;
width: 100%;
padding: 0;
background-color: royalblue;
list-style: none;
margin: 0;
}

.navbar-nav .nav-item {
text-align: center;
flex: 1;
margin: 0 50px;
display: flex;
align-items: center;
}

.navbar-nav .nav-item a.nav-link {
font-weight: bold;
color: white;
text-decoration: none;
display: block;
padding: 10px 20px;
background-color: royalblue;
border-radius: 8px;
}

.navbar-nav .nav-item a.nav-link:hover {
background-color: rgb(27, 87, 165);
}

.navbar-nav .nav-item .dropdown-menu {
background-color: white;
border: 1px solid gray;
}

/* Media query for smaller screens */
/* @media (max-width: 768px) {
.navbar-nav .nav-item a.nav-link {
  padding: 5px 10px;
  font-size: 12px;
}
} */ 
.lab-test-list {
padding-left: 10px;
/* list-style: disc; */
}
.lab-test-item {
border: 1px ;
padding: 10px;
margin: 1px 0;
cursor: pointer;
background-color: #f9f9f9;
border-radius: 500px;
}

.lab-test-item:hover {
background-color:mediumpurple;
display:inline-block

}

#test-name {
font-weight: bold;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#test-alt-name {
font-size: 0.8em;
color:#007bff;
font-weight:bolder;
}

.panel-details {
display: flex;
flex-direction: column;
padding-left:20px;
}

.panel-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
border-bottom: 1px solid #ccc;
padding-bottom: 5px;
}

.panel-name {
font-size: 24px;
font-weight:bolder;
color: #007bff;
/* margin-left: 600px; */
text-align: center;
}

#test-detail {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .description-color, .normal-reference-color,.unit-of-measure-color, .alternate-name-color, .learn-more{
color: brown;
font-size:large;
} */

#test-detail-color {
font-weight: bolder;
background-color: #DDA0DD;
}

.name-detail-logo{
position: absolute;
right: 15px;
bottom: 15px;
}
