#care {
    margin-top: 75px;
    text-align: center;
    text-decoration: underline #0d6efd
}

.first-container {
display: grid;
padding: 2rem;
grid-template-columns: 500px 1fr;
gap: 1rem;
align-items: center;
max-width: 800px;
margin-top: 75px;
margin-left: 50px;
/* margin: 0 auto; */
}

#lab-lady-img {
width: 100%;
/* height: auto; */
border-radius: 5%;
}


.second-container {
display: grid;
padding: 2rem;
grid-template-columns: 500px 1fr;
gap: 1rem;
align-items: center;
max-width: 800px;
margin-left: 750px;
}

#lab-people-img {
width: 100%;
/* height: auto; */
border-radius: 5%;
}

#knowledge-head {
display: inline;
}

.color-container {
width:300px;
    height:300px;
margin: 0 auto;

    /* margin:10px; */
    /* padding:10px; */

color: #f8f9fa;
background-color:#0d6efd;
padding: 10px;
text-align: center;
border-radius: 5%;
margin: 50px;;
/* border: 1px solid green ; */
}
