#care {
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline #0d6efd
}

.top-container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

#lab-lady-img {
    width: 700px;
    border-radius: 5%;
}

.top-img-container {
    display: flex;
    align-items: center;
}

.first-image-container {
    margin-right: 50px;
}

#accurate-head {
    margin: 10px 0;
}

.content-container {
    flex: 2;
}

#accurate-desc {
    margin-bottom: 80px;
    font-size: large;
}


.bottom-container {
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
}

#lab-people-img {
    width: 700px;
    border-radius: 5%;
}

.bottom-img-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    flex-direction: row-reverse; 
}

.second-content-container {
    flex: 1; 
    margin-right: 20px; 
}

#second-accurate-desc {
    margin-bottom: 80px;
    font-size: large;
    margin-right: 10px;
}

#helping-head {
    margin: 10px 0 100px 0;
}

/* Add styles for smaller screens (max-width: 768px) */
@media (max-width: 768px) {
    #care {
        margin-top: 0 ;
        margin-bottom: 20 px;
    }

    .top-container, .bottom-container { 
        max-width: 80rem;
        padding-right: 20px; 
        padding-left: 20px; 
}

    .first-image-container, .second-content-container {
        margin-right: 0; 
    }

    #lab-lady-img {
        width: 100%; 
        border-radius: 5%;
        }

    #lab-people-img {
        width: 120%; 
        border-radius: 10%;
        padding-right: 20px;
        }

    #accurate-desc {
        font-size: 14px; 
        padding: 15px;
    }

    #second-accurate-desc {
        font-size: 14px; 
        margin-bottom: 120px; 
        padding-right: 15px;
    }

    p {
        margin: 0;
    }
}