.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;
    margin-bottom: 50px;
}

.box-container {
    width: 50%;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 55%;
    margin: 0 0 100px 0;
    padding: 0 10px 0 100px;
    overflow-y: scroll;
}

#content::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

#content::-webkit-scrollbar-track {
    background-color: transparent;
}

#content::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

#content::-webkit-scrollbar-thumb {
    background-color: #DDA0DD;
    border: 0px;
}

#content::-webkit-scrollbar-corner {
    background-color: transparent;
}

.search-form {
    border-radius: 30px 0 0 30px;
}

#test-search {
    background-color: #DDA0DD;
}

input-group-btn {
    max-width:38px;
}

#search {
    border: 1px;
}

.search-btn {
    cursor:pointer;
    border-radius: 0 30px 30px 0; 
    background-color:#fff;
    color:#669;  
}

.box {
    background-color: #007bff;
    padding: 10px ;
    border-radius: 5px;
    margin-left: 20px;
}

.box-content{
    color: #fff;
    padding: 25px;
    text-align: center;
}

.box-desc {
    color: white;
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
} 

.locations {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

/* Adjust styles for smaller screens (e.g., mobile) */
@media (max-width: 991px) {
    .container {
        flex-direction: column; 
        align-items: center;
        margin-bottom: 0;
    }

    .box-container {
        width: 100%; 
        padding: 10px;
        margin-bottom: 10px; 
    }

    #content {
        width: 100%;
        padding: 10px 40px 80px 40px;
        overflow-y: scroll;
    }

    .box-content {
        margin-top: 10px; 
        font-size: 16px;
    }

    .box-desc {
        font-size: 12px;
        text-align: left;
    }

    .search-form {
        border-radius: 30px;
    }

    .input-group-btn {
        max-width: none; 
    }

    .search-btn {
        border-radius: 30px; 
    }

    #test-search-results{
        display: flex;
        flex-direction: column; 
        align-items: space-between;
    }

    .lab-test-item {
        width: 100%;
        margin-bottom: 10px;
    }
}

